.details {
    text-align: center;
}
  
.items {
    list-style-type: none;
    display: flex;
    margin: 32px 0 0 0;
    padding: 0;
    justify-content: center;
    column-gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
    color: #8585AD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}