@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/JetBrainsMono-Bold.ttf') format('truetype');
}

:root {
  font-family: 'JetBrains Mono', Helvetica, Arial, sans-serif;
  background-color: #131316;
}